# Compiled binaries
*.exe
*.out
*.o

# VS Code
.vscode/

# Outlines
learned.md
ASSIGNMENT.md

# Debug symbols
*.pdb

# Powershell
*.Powershell
*.ps
two-level-amat/src/run_write_policies.ps1
two-level-amat/src/results_write_policies.txt
